* 
  margin: 0
  padding: 0
  box-sizing: border-box


.nav__bar 
  display: flex
  align-items: center
  justify-content: center
  gap: 150px
  padding: 10px
  width: 100%


h1 
  font-size: 30px


h1 strong 
  font-size: 45px


.nav__menu 
  display: flex
  align-items: center
  justify-content: center
  gap: 20px


.nav__link 
  font-size: 25px
  color: #000
  text-decoration: none


.botoes 
  display: flex
  align-items: center
  justify-content: center
  gap: 30px
